body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


select.form-control {
    width:80%;
    height: 30px;
    font-size : 11px;
    position:relative;
    right: 22px;
}

button.bswitch {
    width: 30px;
    height: 30px;
    position:relative;
    bottom:40px;
    right: 32px;
}

button.bzoom {
    width: 30px;
    height: 30px;
    position:relative;
    bottom: 80px;
    
}


.last3weeks {
    font-weight : bold ;
    color: #F87217; 
    border: solid 1px #F87217;

}

.lastweek {
    font-weight : bold ;
    color: #E42217;
    border: solid 1px #E42217;
}