body {
    font-family: arial;
}

header p { 
		width : 100%;
		max-height : 100px;
		background-color: #69F;
		font-size: 30px;
		text-align: center;
		color: white;
		padding-top : 7px;
		padding-bottom :7px;
		}

#logo { 
		position : absolute; 
		top : 15px;
		left : 30px;
		box-shadow: 1px 1px 6px #555;	
	}

a:link {
    text-decoration: none;
    /*color: white;*/
}

a:visited {
    text-decoration: none;
    /*color: black;*/
}

div.active {
    font-weight : bold ; 
}


i { text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white}

em { 	font-size : 16px; 
		font-weight : bold ; 
		color: white; 
		font-style: normal;
		/*text-shadow: black 0.1em 0.1em 0.2em*/}

h1 {
    font-size : 22px; 
}

h2 {
    font-size: 1.2em;
    margin-top: 3px;
}
h2,div, span {
    /* make text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: white;

}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.black {
    color: white;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top,  #000,  #444);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

#menu { 
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    /*border: 1px solid black;
    padding: 10px;*/
}

#menu1 {
    display: inline-block; 
    margin: 4px;
}

#menu2 {
    display: inline-block;
    margin: 4px;
}

#menu3 {
    display: inline-block;
    margin: 4px;
}

#menu4 {
    display: inline-block;
    margin: 4px;
}

#menu5 {
    display: inline-block;
    margin: 4px;
}

#menu6 {
    display: inline-block;
    margin: 4px;
}

#menu7 {
    display: inline-block;
    margin: 4px;
}



#wrapper {
    width: 960px;
    margin: 0 auto;
}
#map {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
}
.legend, .temporal-legend {
    padding: 6px 10px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend_cumul, .temporal-legend {
    padding: 6px 10px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

h2#CTETitle {
    position:relative;
    top: 80px;
}

h2#TimeLastCase {
    position:relative;
    top: 110px;
}

div .region {
    height: 220px;
}

div .Cumul{
    height: 110px;
}


#legendTitle {
    text-align: center;
    margin-bottom: 15px;
}
.symbolsContainer {
    float: left;
    margin-left: 50px;
}

.legendCircle {
     border-radius:50%; 
     border: 1px solid #537898; 
     background: rgba(255, 0, 0, .6);
     margin: 4px auto 0;
     display: inline-block;
}

.legendCircleCumul {
     border-radius:50%; 
     border: 1px solid #537898; 
     /*background: rgba(255, 255, 255, .6);*/
     background: rgba(255, 0, 0, .6);
     margin: 4px auto 0;
     display: inline-block;
}

.symbolsLC {
    width: 10px;
    height: 10px;
    /*border-radius:50%;*/ 
    border: 1px solid black; 

}


.lessThan1Week {
    position:relative;
    top: 100px;
    background: #bd0026;
}

.between1And2W {
    position:relative;
    top: 110px;
    background: #f03b20;
}

.between2And3W {
    position:relative;
    top: 120px;
    background: #fd8d3c;
}

.moreThan3Weeks {
    position:relative;
    top: 130px;
    background: #fecc5c;
}


#C1 {
    position:relative;
    left: 65px;
    bottom: 68px;
    width: 70px;
    font: 6px;
}

#C2 {
    position:relative;
    left: 65px;
    bottom: 56px;
}

#C3 {
    position:relative;
    left: 65px;
    bottom: 44px;
}

#C4 {
    position:relative;
    left: 65px;
    bottom: 32px;
}



.legendValue {
    position: absolute;
    right: 8px;
    font-size: 10px;
}

.range-slider {
    width: 250px;
}
.temporal-legend {
    font-size: 1.2em;
    text-align: center;
}

p#explain {
    width: 70%;
    font-style: italic; 
    text-align: justify; 
    font-size : 14px; 
}

button {
    border-radius:5px; 
    border: 1px solid black; 
    background: white;
    width: 120px;

}

.map_help {
    border-radius:5px;
    background-color: lightgrey;
    padding:20px;
    margin-top:10px;
    font-style: italic;
    font-size: 15px;
}

.chart_help {
    border-radius:5px;
    background-color: lightgrey;
    padding:20px;
    margin-top:10px;
    font-style: italic;
    font-size: 15px;
}