body {
  padding-top: 50px;
  width: 98%;
  margin: 0 auto;
}
div.container {
    box-sizing: content-box;
}
.navbar-brand > img {
    display: inline;
}

/*Juste pour dasboard_2*/
.leaflet-popup-content-wrapper {
    width: 520px;
}


h6 {
    font-weight: bold;
    color: #3288bd;
    text-align: center;
}

ul
{
    list-style-type: none;
    color: #2171b5;
    font-weight: bold;
    font-size : 12px;
}

ul span {
    font-size : 16px;
    text-align: right;
 }

.alert_d {
    color: #ef3b2c;
    font-weight: bold;
}

a#miseAjour {
    width: 20px;
    height: 20px;
    padding: 0 0;
}
div, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid black;*/
}
#map {
    height: 500px;
    /*width: 75%;
    margin: 0 auto;
    border: 1px solid black;*/
}
div.panel {
    width: 65%;
    margin: 0 auto;
}
span.glyphicon-info-sign {
    display: inline-block;
    /*width: 50%;*/
    float: left;
}
span.glyphicon-save {
    display: inline-block;
    /*width: 50%;*/
    float: right;
    cursor:pointer;
}
th[data-sort]{
    cursor:pointer;
    text-align: center;
}
/* drop down menu */
select.choix_temp {
    width:80%;
    height: 25px;
    font-size : 11px;
    position:relative;
    top: 20px;
    left: 24px;
}

/* Bouton switch OSM */
button.bswitch {
    width: 30px;
    height: 30px;
    position:relative;
    top: 15px;
    right: 31px;
    padding: 0 0;
}
/* Bouton zoom initial */
button.bzoom {
    width: 25px;
    height: 25px;
    position:relative;
    top: 15px;
    left: 1px;
    padding: 0 0;
    
}
/* Bouton print map */
button.bswitchCW {
    /*width: 30px;*/
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    position: relative;
    bottom: 75px;
    padding-top: 1px;
    padding-bottom: 2px;
}

/* Labels for other countries */
em {    font-size : 12px; 
        font-weight : bold; 
        color: black; 
        font-style: normal;
    }

.temporal-legend {
    padding: 6px 10px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.temporal-legend {
    padding: 6px 10px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}