body {
  padding-top: 50px;
}
div.container {
    box-sizing: content-box;
}
.navbar-brand > img {
    display: inline;
}

#map {
    width: 75%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
}
div.panel {
    width: 65%;
    margin: 0 auto;
}

/* drop down menu */
select.choix_temp {
    width:80%;
    height: 25px;
    font-size : 11px;
    position:relative;
    top: 20px;
    left: 24px;
}


/* Bouton zoom initial */
button.bzoom {
    width: 25px;
    height: 25px;
    position:relative;
    top: 15px;
    left: 1px;
    padding: 0 0;
    
}
/* Bouton print map */
button.bswitchCW {
    /*width: 30px;*/
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    position: relative;
    bottom: 75px;
    padding-top: 1px;
    padding-bottom: 2px;
}

/* Labels for other countries */
em {    font-size : 12px; 
        font-weight : bold; 
        color: black; 
        font-style: normal;
    }

.temporal-legend {
    padding: 6px 10px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;   
}

.legend i {
    width: 16px;
    height: 16px;
}