body {
  padding-top: 50px;
  width: 98%;
  margin: 0 auto;
}
div.container {
    box-sizing: content-box;
}
.navbar-brand > img {
    display: inline;
}

/*Juste pour dasboard_2*/
.chart-popup {
    width: 520px;
}

button#tour{
    margin-bottom: 10px;
}

h6 {
    font-weight: bold;
    color: #3288bd;
    text-align: center;
}

ul
{
    list-style-type: none;
    font-weight: bold;
    font-size : 11px;
    position:relative;
    right: 30px;
}

ul.dis_list {
    color: #2171b5;
}

ul.alert_list {
    color: #ef3b2c;
}

ul span {
    font-size : 13px;
    text-align: right;
 }

 h3 {
    text-align: center;
 }

.title_alert {
    color: #ef3b2c;
    font-weight: bold;
}

.title_dis {
    color: #2171b5;
    font-weight: bold;
}

a#miseAjour {
    width: 20px;
    height: 20px;
    padding: 0 0;
}
div, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid black;*/
}
#map {
    height: 500px;
    /*width: 75%;
    margin: 0 auto;
    border: 1px solid black;*/
}
div.panel {
    width: 65%;
    margin: 0 auto;
}

/* drop down menu */
select.choice_disease {
    width:80%;
    height: 25px;
    font-size : 11px;
    position:relative;
    top: 20px;
    left: 45px;
}


/* Bouton zoom initial */
button.bzoom {
    width: 25px;
    height: 25px;
    position:relative;
    top: 15px;
    left: 1px;
    padding: 0 0;
    
}
/* Bouton swith to cumulative */
button.bswitchCW {
    /*width: 30px;*/
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    position: relative;
    bottom: 75px;
    padding-top: 1px;
    padding-bottom: 2px;
}

/* Button show/hide legend */
button.btlegend {
    width: 25px;
    height: 25px;
    position:relative;
    bottom: 50px;
    right: 25px;
    padding: 0 0;;
}

/* Button switch to OSM */
button.bswitch {
    width: 25px;
    height: 25px;
    position: relative;
    top: -85px;
    right: 51px;
    padding: 0 0;;
}

/* Labels for other countries */
em {    font-size : 12px; 
        font-weight : bold; 
        color: black; 
        font-style: normal;
    }

.temporal-legend {
    padding: 6px 10px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    background: lightgrey;
    /*background: rgba(255,255,255,0.8);*/
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;  
    line-height: 18px;
    color: #555;
    text-align: left;  
    display: none;
}


.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;

}

.legend span {
    float: right;
}

span#text_cluster {
    position:relative;
    top: 10px;
}

.legend h5 {
    font-weight: bold;
    font-size: 12px;
}



i#legend_indiv_rs {
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position:relative;
    left: 12px;   
}

i#legend_cluster_rs {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    opacity: 0.6;
}

i#legend_cluster2_rs {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    position:relative;
    left: 5px;
    top: 5px;
    border: 1px solid #D8D8D8;

}

div.leaflet-control-attribution {
    display: none;
}

select#trends {
    font-size: 12px;
    position:relative;
    bottom: 5px;
}

/*div.donut {
    border: 1px solid black;
    height: 180px;
    width: 87%;
    margin: 0 auto;
}*/


.nv-pieChart text {
    font-size: 11px;
}

/*#chart_main, #chart_gtrend {
    border: 1px solid black;
}*/